* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
  font-family: 'Popins', sabs-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgb(105, 154, 219);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(161, 161, 227);
  font-size: 1.01rem;
}

main hr {
  border: 0;
  background: #615da8;
  height: 1.2px;
  margin: 60px 84px;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;

}

.firstSection>div {
  width: 30%;
}

.leftSection {
  font-size: 3rem;
}

.leftSection .buttons {
  padding: 20px 0;

}

.leftSection .btn {
  padding: 12px;
  background-color: #595b8b;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.rightSection img {
  width: 80%;
}

.purple {
  color: rgb(148, 93, 199)
}

.text-gray {
  color: gray;
}

#element {
  color: rgb(148, 93, 199);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.secondSection .box {
  background: rgb(1, 1, 2);
  width: 80vw;
  height: 2px;
  margin: 50px 0;
  display: flex;
}

.secondSection .box .vertical {
  height: 93px;
  width: 1px;
  background-color: rgb(32, 6, 6);
  margin: 0 110px;
}

.image-top {
  width: 30px;
  position: relative;
  top: -35px;
  left: -14px;

}

.vertical-title {
  position: relative;
  top: 60px;
  width: 150px;
  font-size: 14px;

}

.vertical-desc {
  position: relative;
  top: 60px;
  color: rgb(20, 4, 4);
  width: 150px;
  font-size: 10px;
}

footer {
  background-color: rgb(108, 108, 169);
}

.footer {
  display: flex;
  padding: 25px 125px;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.footer>div {
  width: 125px;
}

footer .footer-rights {
  text-align: center;
  color: rgb(31, 20, 20);
  padding: 12px 0;

}
